<!DOCTYPE html>
<html>
<head>
	<title>Style Transfer</title>
	<!-- ***** RWD : STEP 1 ***** -->
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="../static/fonts.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<script src="../static/jquery.js"></script>

	<!-- Custom Code files -->
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
	<link rel="stylesheet" type="text/css" href="../static/animations.css">
	<script src="../static/scripts.js"></script>
	<script src="../static/animations.js"></script>
	<script type="text/javascript">
		var listOfFiles = {{listOfFiles | tojson}}

		function timeout() {
			setTimeout(function () {
				var image = document.getElementById("styleImage");

				let s = listOfFiles.shift();
				image.src = s;
				console.log(s);

				if (listOfFiles === undefined || listOfFiles.length == 0) { return 0; }
				timeout();
			}, 500);
		}
	</script>
</head>
<body onload="timeout()">
	<div class="m-scene" id="main">
		<div class="m-aside scene_element scene_element--fadein">
			<div id="navbar" class="navbar">
				<div class="left" id="logo">Art Generator</div>
				<a class="left" href="/">Home</a>
				<a class="left" href="about">About</a>
				<a class="left" href="contact">Contact</a>

				<a href="javascript:void(0);" style="font-size:15px;" class="icon right" onclick="myFunction()">&#9776;</a>
			</div>
		</div>

		<div class="m-right-panel m-page scene_element scene_element--fadeinleft">
			<div class="Art">
				<h1>Neural Style Transfer</h1>
				<img src="" id="styleImage">
				<br/>
			</div>


			<div class="footer">
				<div id="newsLetter">
					<h3>Subscribe to our News-Letter</h3>
					<p>We will send you emails Weekly to keep you posted on your Weekly Tech News</p>
					<input type="email" placeholder="someone@alias.com">
					<a class="button" href="#newsLetter">Subscribe</a>
				</div>
				<div class="footer-links row">
					<h2 align="center">Useful links to our Website</h2>
					<div style="float: left; width: 33%;">
						<ul>
							<li><a href="contact">Contact</a></li>
							<li><a href="about">About</a></li>
							<li><a href="archives">Archives</a></li>
						</ul>
					</div>
					<div style="float: left; width: 33%;">
						<ul>
							<li><a href="advertising">Advertise</a></li>
							<li><a href="workWithUs">Work with Us</a></li>
							<li><a href="license">License</a></li>
						</ul>
					</div>

					<div style="float: right; width: 33%;">
						<ul>
							<li><a href="random">Random</a></li>
							<li><a href="guest-posting">Guest Posting</a></li>
						</ul>
					</div>
				</div>
				<div class="copyrights">
					<p>
						&copy; Copyright 2018<br>All Rights Reserved
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>